body {
    margin: auto;
    font-family: Roboto,sans-serif;

}


a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: $color3;
    color: $color0;
    cursor: pointer;
    padding: 5px;
    &:hover{
        background-color: $color4;
        transition: 0.8s;

    }
}

