.contact-list-container {
  height: 60%;

  .contact-list {
    background: rgba(255, 255, 255, .05);
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 12%);
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;

    @include for-mobile-only {
      width: 100%;
      height: 100%;

      ul{
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 20px;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgb(255 255 255 / 12%);
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: rgb(255 255 255 / 12%);
    }

  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s, transform 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}