.input-filter{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    font-size: 14px;
    height: 21px;
    color: #dfe1e6;
    margin-bottom: 16.8px;
    max-width: 400px;
    outline: none;
    padding: 0.5em;
    width: 100%;

    &.last-one{
      margin-top: 0px;

    }
    &.transfer{
      width: 174px;
    }
  }