.header {
    background-color: #1f1b34;
    display: flex;
    max-height: 86px;
    overflow: visible;
    padding: 0;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    nav > *{
padding-right: 10px;
font-size: 18px;
    }
}